<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div data-id="{{_id}}" class="card p-2 m-1">
        <div class="card-header bg-secondary">
          <h3>
            <a class="article-link text-light" target="_blank" rel="noopener noreferrer" href="{{link}}">{{title}}</a>
            <a class="btn btn-info notes bg-info text-light float-right comment" data-id="{{_id}}">Article Comments</a>
          </h3>
        </div>
        <div class="card-body">{{date}}: {{summary}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="notes">
      </div>
    </div>
  </div>
</div>